*{
    box-sizing:border-box;
}
.red{
    background-color: red;
    height:30px;
    color:white;
    width:60px;
}
.blue{
    background-color: blue;
    height:30px;
    color:white;
     width:60px;
}.rgb{
    background-color:yellow;
    height:30px;
    color:rgb(184, 90, 150); 
     width:60px;
}.black{
    background-color:black;
    height:30px;
    color:white;
     width:60px;
}
.container{
    display:flex;
    height :1000px;
    width:1000px;
    padding: 50px;
    background-color:grey;
    margin-left:150px;
    margin-top:50px;
    border-radius:30px;
    border: 10px solid black;
}
 .container .design{
    background-color: white;
    height:900px;
    width:900px;
    padding:20px;
 }
 .controls{
    text-align:center;
    margin:10px;
 }
 .colors{
text-align:center;

 }
 .design{
    display:flex;
    flex:1;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    align-content:center;

 }
 .block{
    background-color: red;
    min-height:30px;
    max-height:50px;
    max-width:50px;
    min-width:30px;
    border : 1px solid black;
 }